@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding:0;
    margin-bottom: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FAF9F0;
}

.navbar-main {
    padding: 25px 30px;
    background: #fff;
}



.sidebar-sect {
    border-radius: 20px;
    background: #FDFDFD;
    height: 82vh;
}

.navbar-brand h2 {
    font-size: 48px;
    padding: 30px 0;
}

.nav-sect {
    height: 100%;
}

.nav li {
    list-style: none;
}

.nav li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}

.nav li a:hover{
    background: #FF8144;
    color: #fff;
}

.nav-item a i {
    padding-right: 30px;
}

.page-title h2 {
    font-weight: 600;
    padding: 13px 0;
}

.box-simple {
    border-radius: 10px;
    border: 1px solid #F95E07;
    background: #FFF;
    padding:20px;
}

.simple-btn {
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    padding:10px;
    font-weight: 700;
}

.border-left {
    border-left: 1px solid #000;
    padding-left: 30px;
}

.order-container {
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.46);
    background: #FFF;
    padding: 20px;
}

.order-main-text {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.order-light-text {
    color: #797B7E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.order-dark-text {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

hr {
    margin:2px 0 14px;
}

.cross-icon {
    border-radius: 10px;
    border: 1px solid #DB79A9;
    color: #DB79A9;
    padding: 10px 16px;
}

.tick-icon {
    border-radius: 10px;
    border: 1px solid #87B6A1;
    color: #87B6A1;
    padding: 10px 16px;
}

.icon-sect > div:nth-child(1) {
    margin-right: 10px;
}

.unavailable-btn{
    border-radius: 10px;
    border: 1px solid #C2C2C2;
    color: #8F8F8F;
    background: #FFF;
    padding:10px;
    font-weight: 700;
}

.table-main-text {
    font-size: 14px;
    color: #000;
}

.table-light-text {
    font-size:  14px;
    color: #666;
}

table td, table th {
    padding: 15px 10px 3px !important;
}

  .table-btn {
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #666;
    padding: 3px 10px;
    display: inline-flex;
    align-items: center;
}

.table-customer > thead > tr > th {
    background: #FAE6D3;
    font-weight: 600;
    padding: 15px 10px 10px !important;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #F9F7F7; 
 }

 .table-striped>tbody>tr:nth-of-type(odd)>* {
   --bs-table-bg-type: #fff; 
 }


 .primary-btn {
    border-radius: 10px;
    background: #F97224;
    color: #fff;
    padding:7px;
    margin:0px;
    text-align: center;
 }

 .secondary-btn {
    border-radius: 10px;
    border: 1px solid #F97224;
    color: #F97224;
    background: #fff;
    padding:7px;
    margin: 0px;
 }

 .product-plan input, .user-settings input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FFF;
    padding: 7px 15px !important;
    width: 100%;
 }

 .product-plan label:after, .delivery-text label:after, .staple-text:after, .user-settings label:after { 
    content:" *"; 
    color: #FF4D4D;
    font-size: 22px;
}

 .product-plan textarea {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FFF;
    padding: 7px 15px !important;
 }

 .product-plan label {
    padding: 15px 0px 5px !important;  
 }

 .edit-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px dashed #797B7E;
    background: #FFF;
    font-size: 20px;
    width: 200px;
    height: 200px;

 }

 .tiffin-price-input > div:nth-child(1), .user-info > div {
    padding-right: 25px ;
 }

 .delivery-week, .staple-options {
    border-radius: 10px;
    border: 1px solid var(--stoke, rgba(0, 0, 0, 0.40));
    background: #FFF;
    padding: 10px 0px 15px 42px !important;
 }

 .delivery-week > div, .staple-options > div {
    padding: 3px 0px;
 }


 .user-btn {
    border-radius: 10px;
    background: #F97224;
    color: #fff;
    padding:8px 30px;
    margin:0px;
    text-align: center;
 }

 .resturant-date {
    border-radius: 10px;
    border: 1px solid  rgba(0, 0, 0, 0.40);
    background: #FFF;
    padding: 18px 20px !important;
 }


 .resturant-date i {
    font-size: 17px;
 }


 .green-btn {
    border-radius: 10px;
    border: 1px solid #529248;
    color: #529248;
    padding:7px;
    margin:0px;
    text-align: center;
    
 }

 .light-btn {
    border-radius: 10px;
    border: 1px solid #0000003e;
    color: #000;
    padding:7px;
    margin:0px;
    text-align: center;
    
 }

 .customer-message-sect {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FAEFE4;
    color: #000;
    font-size: 18px;
    padding: 20px;
 }

 .customer-info img {
    padding-right: 15px;
    padding-bottom: 5px;
 }

 .referral-code-sect {
    border-radius: 10px;
    border: 1px solid  #F97224;
    background: #FAEFE4;
    box-shadow: 0px 4px 24px 0px rgba(29, 104, 214, 0.10);
    padding: 20px;
    height: 420px;
 }

 .referral-code-sect input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FFF;
    padding: 8px 12px;
    width: 100%;
 }

 .refferal-title {
    font-weight: 700;
 }

 .loading-bar {
    border-radius: 10px;
    background: #F97224;
    height: 12px;
    width: 70px;
    margin-right: 8px;
 }

 .loading-bar-gray {
    border-radius: 10px;
    background: #D9D9D9;
    height: 12px;
    width: 70px;
    margin-right: 8px;
 }

 .terms-sect {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FFF;
    padding: 20px;
 } 

 .feature-menu-title p {
    text-transform: uppercase;
 }

 .feature-menu-title h2 {
    font-size: 72px;
    font-weight: 700;
    white-space: pre;
    text-align: center;
 }

 .feature-menu-item h4 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
 }

 .feature-menu-item p {
    text-align: center;
 }

 .feature-menu-item a {
    text-decoration: underline;
    color: #FA8840;
 }

 .category-filter {
    border-radius: 10px;
    background: #FFF;
    padding: 20px 30px;
 }

 .category-filter i {
    color:#FB9426;
    font-size: 18px;
    padding: 0px 10px 10px 0px;
 }

 .category-filter p {
    color: #000;
    font-size: 18px;
    font-weight: 600;

 }

 .search-filter {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 10px 10px 90px 0px rgba(0, 0, 0, 0.07);
    padding: 20px 30px;
 }

 .search-filter input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #FED8B2;
    background: rgba(0, 0, 0, 0.02);
    padding: 16px 20px;
 }

 .filter-sect h2 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
 }

 .filter-sect .filter {
    border-radius: 5px;
    border: 1px solid #FED8B2;
    background: #FFF;
    padding: 10px 80px 10px 15px;
    
 }

 .product-home {
    border-radius: 10px;
    border: 1px solid #F97224;
    background: #FFFCDF;
    padding: 20px 30px;

 }

 .product-home h2 {
    color: #F97224;
    font-size: 32px;
    font-weight: 700;
 }

 .product-home hr {
    color: #F97224;
    border-width: 2px;
 }

 .product-green-btn {
    border-radius: 10px;
    background: #529248;
    color: #fff;
    width: 100%;
    padding: 10px;
    white-space: pre;
 }

 .product-primary-btn {
    border-radius: 10px;
    background: #F97224;
    color: #fff;
    width: 100%;
    padding: 10px;
    white-space: pre;
 }

 .testimonial-sect h2 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
 }

.testimonial-slider .testimonial-item { 
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.03);
    padding: 15px !important;
    margin: 0px 10px;
}

.testimonial-item hr {
    border-width: 2px;
    color:#F95E07;
    width: 25%;
}

.testimonial-item .checked {
    color: #FFC107;
}

.service-items div {
    margin: 15px 0px;
}

.service-items img {
    object-fit: cover;
}

.service-white {
    background-color: #fff;
    border-radius: 25px;
    padding: 25px 35px;
}

.service-orange {
    background-color: #FA8840;
    border-radius: 25px;
    padding: 25px 35px;
    color: #fff;
}

.choose-sect p:nth-child(1) {
    text-transform: uppercase;
}

.choose-sect h2 {
    font-size: 86px;
    font-weight: 700;
    line-height: 1em;
}

.choose-sect .primary-btn {
    padding: 16px 32px !important;
    border-radius: 32px;
}

.list-sect i {
    color:#5BC905;
    padding: 0px 5px 7px 0px !important;
}

 .sm-section {
    background-color: #F97224;
    border-radius: 20px;
    padding: 15px !important;
    color: #fff;
 }

 .followus h2 {
    font-size: 56px;
 }

 .follow-icons i {
    font-size: 82px;
 }


 .footer-sect {
    background-color: #FAEFE4;
 }

 .footer-logo {
    width: 20%;
 }


 .checkout-popup {
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left:0;
   right: 0;
   bottom:0;
   background: #00000088;
   z-index: 999;
   transition: opacity 0.5s ease;
 }

 .checkout-popup.show {
   display: flex;
   opacity: 1;
}

 .checkout-sect {
   background: #fff;
   border-radius: 20px;
   border: 1px solid #F97224;
   box-shadow: 0px 4px 24px 0px rgba(29, 104, 214, 0.10);
   width: 65%;
   height: calc(100vh - 10%);
   overflow: hidden;
 }

 .checkout-left-sect, .checkout-right-sect {
   padding: 25px;
 }

 .checkout-product-desc  {
   padding-left: 30px;
 }

 .checkout-product-desc h2 {
   color: #F97224;
   font-size: 32px;
   font-weight: 700;
 }

 .checkout-product-detail > div {
   padding: 5px 15px;
   border-radius: 100px;
   background: #FFFCDF;
 }

 .checkout-product-detail > div:nth-last-child(1) {
   background: #E3F6D4;
 }

 .checkout-product-detail p {
   margin: 0px 0px 0px 10px;

 }

 .date-select-sect p {
   font-size: 17px;
   color: #1D364D;
   font-weight: 600;
 }

 #date-selection {
   width: 100%;
 }

 .city-select-sect > p {
   font-size: 17px;
   font-weight: 600;
   color:#1D364D;
 }

 .city-selection > p {
   border-radius: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.40);
   padding: 10px;
   margin-right: 15px;
   text-align: center;

 }

 .delivery-select-sect p:nth-child(1) {
   font-size: 17px;
   font-weight: 600;
   color:#1D364D;
 }

 .delivery-selection {
   border-radius: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.40);
   background: #FFF;
   width: calc(100% - 3vh);
   padding: 10px;
 }

 .delivery-select-sect .product-primary-btn {
   width: calc(100% - 3vh);
   margin-top: 25px;
 }

 .delivery-date {
   border-radius: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.40);
   background: #FFFCDF;
   padding: 8px;
   line-height: 1.3em;
 }

 .checkout-right-sect {
   background: #F6F3D4;
 }

 .checkout-price p {
   font-size: 18px;
 }

 .checkout-price h4 {
   font-size: 40px;
 }

 .checkout-delivery-sect {
   border-radius: 10px;
   border: 1px solid  rgba(0, 0, 0, 0.40);
   background: #FFFCDF;
   padding: 10px;
 }

 .checkout-delivery p {
   margin: 0px 0px 0px 15px;
   font-size: 17px;
   font-weight: 600;
   color: #1D364D;

 }

 .checkout-delivery-sect > p {
   text-decoration: underline;
   font-size: 14px;
 }

 .checkout-oz {
   border-radius: 8px;
   border: 1px solid rgba(0, 0, 0, 0.40);
   background: #FFF;
   padding: 10px;
 }

 .checkout-oz p {
   margin-bottom: 0px;
 }

 .checkout-oz h4 {
   font-size: 20px;
 }
 
 #staple-selection, #date-selection {
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.40);
   background: #FFF;
   padding: 10px;
 }

 .staple-select-sect label {
   font-size: 17px;
   font-weight: 600;
   color: #1D364D;
   margin-bottom: 5px;
 }

 .checkout-item-sect > p {
   font-size: 17px;
   font-weight: 600;
   color: #1D364D;
 }

 .checkout-item-sect  p {
   line-height: 1.3em;
 }

 .checkout-item-sect .primary-btn {
   padding: 10px;
   border-radius: 10px;
   background: #FFFCDF;
   color: #F97224;
   border: 1px solid #F97224;
   font-size: 18px;
   font-weight: 700;
 }

 /** Checkout Page **/

 .navbar-checkout {
   padding: 25px 30px;
   border-radius: 20px;
   background: #FA8840;
}

.white-btn {
   padding: 8px 16px;
   border-radius: 10px;
   background: #FFF;
   color: #F97224;
}

.navbar-nav li {
   padding: 0px 10px;
   font-weight: 600;
}

.navbar-nav a {
   color: #fff;
}

.login-status-sect {
   border-radius: 3px;
   border: 1px solid #FFE4C7;
   background:  #FFFCDF;
   font-size: 14px;
   padding: 5px;
}

.login-status-sect p {
   margin-bottom: 0;
}

.order-status-info {
   border-radius: 10px;
   border: 1px solid #F97224;
   background: #FFF;
   padding: 22px;
}

.order-status-sect h2 {
   font-size: 22px;
   font-weight: 700; 
}

.order-info h2 {
   color: #F97224;
}

.order-info p {
   font-size: 14px;
}

.order-info-delivery {
   border-radius: 100px;
   background:  #FFFCDF;
   padding: 2px 10px;
}

.order-info-price {
   color: #F97224;
   font-weight: 600;
}

.order-info-price p {
   font-size: 18px;
}

.order-info-price h4 {
   font-size: 24px;
}

.order-info-date {
   font-size: 14px;
}

.discount-code-sect {
   font-weight: 600;
}

.input-container input {
   border-radius: 10px;
   border: 1px solid #F97224;
   background: #FFF;
   padding: 12px 0px;
}	

.left-and-right-inner-addon {
    position: relative;
}

.left-and-right-inner-addon input {
    padding-right: 35px !important;
    padding-left: 35px !important;
}

.left-and-right-inner-addon i.left {
    position: absolute;
    padding: 17px 12px;
    pointer-events: none;
    color: #F97224;
}

.left-and-right-inner-addon a.right {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    text-decoration: none;
    color: #F97224;
}

.refferal-sect input {
   border: 1px dashed #F97224;
}

.order-total-item p{
   font-weight: 17.5px;
}

.order-total-item p:nth-last-child(1) {
   font-weight: 600;
}

.order-total-amount {
   font-size:17.5px;
   font-weight: 600;
}

.price-container{
   gap:.95rem;
 }

 .price-card {
   position:relative;
   padding:1rem;
   background: #fff;
   border-radius:13px;
   width:100%;
   gap:.5rem;
   cursor:pointer;
   outline:none;
   transition:.3s ease-in;
 }
 .price-card label{
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   width:100%;
   border-radius:13px;
   border:1px solid #bcbcbc;
   
   cursor:pointer;
 }
 .price-card input[type="radio"]:checked ~ label{
   border: 2px solid  #F97224;
   color:#5578e1;
   outline:none;
   border-width:2px;
 }
 .price-card input[type="radio"]{
   width:30px;
   height:auto;
   border:0;
   transform:scale(1.5);
 }
 .price-card .content span{
   font-size:.7rem;
 }

 .credit-info input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FFF;
    padding: 7px 15px !important;
    width: 100%;
 }

 .shipping-info input {
   height: 17px;
   width: 17px;
 }

 .shipping-info input:checked {
   accent-color: #4B7DF3 !important;
 }

 .shipping-info label {
   font-size: 17.5px;
 }

.payment-condition-card,
  .payment-condition-enterac {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

  /* Login Section */

.login-section {
   border-radius: 20px;
   border: 1px solid  #F97224;
   background: #FFF;
   box-shadow: 0px 4px 24px 0px rgba(29, 104, 214, 0.10);
   padding: 22px;
  }

.login-section > p {
   font-size: 17px;
   font-weight: 600;
}

.login-info input {
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.40);
   background: #FFF;
   padding: 7px 15px !important;
   width: 100%;
}

.login-info label {
   font-size: 14px;
}

.new-member-sect p {
   margin-bottom: 0px;
   color: #848484;
   font-size: 14px;
   text-decoration: underline;
}

.new-member-sect .primary-btn {
   color: #F97224;
   border-radius: 10px;
   border: 1px solid #F97224;
   background: #fff;
}

.register-section {
   border-radius: 20px;
   border: 1px solid #F97224;
   background: #FFF;
   box-shadow: 0px 4px 24px 0px rgba(29, 104, 214, 0.10);
   padding: 30px;
}

.register-section input {
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.40);
   background: #FFF;
   padding: 7px 15px !important;
   width: 100%;
}

.policy-check input {
   width: unset;
}

.register-section > p {
   font-size: 17px;
   font-weight: 600;
   text-align: center;
}

.register-info label {
   font-size: 14px;
}

.verify-email-section {
   border-radius: 20px;
   border: 1px solid #F97224;
   background: #FFF;
   box-shadow: 0px 4px 24px 0px rgba(29, 104, 214, 0.10);
   padding: 70px 30px;
}

.verify-email-section p {
   font-size: 17px;
   font-weight: 600;
   text-align: center;
}

.verify-email-section .primary-btn {
   color: #F97224;
   border-radius: 10px;
   border: 1px solid #F97224;
   background: #fff;
}


.checkout-product h5:first-child {
   color: #F97224;
   font-size: 20px;
}

.product-time{
   padding: 5px 15px;
   border-radius: 100px;
   background: #E3F6D4;
 }

 .product-delivery {
   padding: 5px 15px;
   border-radius: 100px;
   background: #FFFCDF;
   margin-right: 100px;
 }

 .product-address .order-main-text {
   color: #000 !important;
   font-weight: 400;
 }

 .product-address .primary-btn {
   border-radius: 10px;
   border: 1px solid #529248;
   background: #E3F6D4;
   color: #000;
 }